<div class="jumbotron" background="../public/assets/img/banner.jpg"><h1>Chow Time!</h1> </div>

<main>
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        {{#each burgers}}
          {{#unless this.devoured}}
            <div>
              <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                <button type="submit" class='burgerCurrent'> {{this.burger_name}}</button>
              </form>
            </div>
          {{/unless}}
        {{/each}}
      </div>



  <div class="col-md-2 col-xs-12">
    <h3>Add A Burger</h3>
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="New Burger">
      <button type="submit" class="addBurgerButton">Add Burger</button>
    </form>
  </div>

        <div class="col-md-5 col-xs-12">
        {{#each burgers}}
          {{#if this.devoured}}
            <div class='burgerEaten'>
              <div>
                {{this.burger_name}}
              </div>
            </div>
          {{/if}}
        {{/each}}
        </div>
      </div>
    </div> 
</main>